.slider {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 300px;
  }
  .slider__inner {
	left: 0;
	width: 100%;
	bottom: 30px;
	position: absolute;
  }
  .slider__inner label {
	width: 14px;
	height: 14px;
	background: #fff;
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
	margin: 0 4px;
	border: 1px solid $color-secondary;
  }
  .slider__inner label:hover, .slider__inner label.active {
	background: #59b586;
  }
  
  .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	background-size: cover;
	background-position: center;
	transition: left 0s 0.75s;
  }
  .slide__one {
	background-image: url("../../assets/images/banner/01.jpg");
  }
  .slide__two {
	background-image: url("../../assets/images/banner/01.jpg");
  }
  .slide__three {
	background-image: url("../../assets/images/banner/01.jpg");
  }
  
  [id^=slide]:checked + .slide {
	left: 0;
	transition: left 0.65s ease-out;
  }
  
  input[id=slide-dot1]:checked ~ .slider__inner label[for=slide-dot1] {
	background: #59b586;
  }
  
  input[id=slide-dot2]:checked ~ .slider__inner label[for=slide-dot2] {
	background: #59b586;
  }
  
  input[id=slide-dot3]:checked ~ .slider__inner label[for=slide-dot3] {
	background: #59b586;
  }